ZI/ManuelaKajkara/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13289/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UgovoriKlase" />
  <xs:import schemaLocation="http://localhost:13289/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ManuelaKajkara" />
  <xs:element name="PopisSudova">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopisSudovaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UgovoriKlase" minOccurs="0" name="PopisSudovaResult" nillable="true" type="q1:ArrayOfSud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DohvatiJedan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DohvatiJedanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UgovoriKlase" minOccurs="0" name="DohvatiJedanResult" nillable="true" type="q2:Sud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopisKategorija">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopisKategorijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UgovoriKlase" minOccurs="0" name="PopisKategorijaResult" nillable="true" type="q3:ArrayOfKategorija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopisMjesta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopisMjestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UgovoriKlase" minOccurs="0" name="PopisMjestaResult" nillable="true" type="q4:ArrayOfMjesto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiSud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiSudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajNoviSud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pbr" type="xs:int" />
        <xs:element minOccurs="0" name="kategorija" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajNoviSudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UrediSud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pbr" type="xs:int" />
        <xs:element minOccurs="0" name="kategorija" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrediSudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveFizickeOsobe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveFizickeOsobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="DajSveFizickeOsobeResult" nillable="true" type="q5:ArrayOfFizOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DajFizickuOsobu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DajFizickuOsobuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="DajFizickuOsobuResult" nillable="true" type="q6:FizOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiFizickuOsobu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="osoba" nillable="true" type="q7:FizOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiFizickuOsobuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PromijeniFizickuOsobu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="osoba" nillable="true" type="q8:FizOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromijeniFizickuOsobuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiFizickuOsobu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiFizickuOsobuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveKazne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveKazneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="DajSveKazneResult" nillable="true" type="q9:ArrayOfKazna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DajKaznu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DajKaznuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="DajKaznuResult" nillable="true" type="q10:Kazna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiKaznu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="kazna" nillable="true" type="q11:Kazna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiKaznuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PromijeniKaznu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ManuelaKajkara" minOccurs="0" name="kazna" nillable="true" type="q12:Kazna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromijeniKaznuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKaznu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKaznuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>