ZI/ManuelaKajkara/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UgovoriKlase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UgovoriKlase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sud" nillable="true" type="tns:Sud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSud" nillable="true" type="tns:ArrayOfSud" />
  <xs:complexType name="Sud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PBr" type="xs:int" />
      <xs:element minOccurs="0" name="kategorija" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sud" nillable="true" type="tns:Sud" />
  <xs:complexType name="ArrayOfKategorija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kategorija" nillable="true" type="tns:Kategorija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKategorija" nillable="true" type="tns:ArrayOfKategorija" />
  <xs:complexType name="Kategorija">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategorija" nillable="true" type="tns:Kategorija" />
  <xs:complexType name="ArrayOfMjesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mjesto" nillable="true" type="tns:Mjesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMjesto" nillable="true" type="tns:ArrayOfMjesto" />
  <xs:complexType name="Mjesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pbr" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mjesto" nillable="true" type="tns:Mjesto" />
</xs:schema>